{%extends 'base.html'%}

{%block content%}
{{super()}}

<div class="col-5">
  <h1>Register form:</h1>
  {%for category, message in get_flashed_messages(True)%}
  <div class="flash {{category}}">{{message}}</div>
  {%endfor%}
  <form action="" method="post">
    <p><label>Name: </label><input type="text" name="name" class="form-control" required></p>
    <p><label>Age: </label><input type="text" name="age" class="form-control" required></p>
    <p><label>City: </label><input type="text" name="city" class="form-control" required></p>
    <p><label>Email: </label><input type="text" name="email" class="form-control" required></p>
    <p><label>Password: </label><input type="password" name="password1" class="form-control" required></p>
    <p><label>Confirm password: </label><input type="password" name="password2" class="form-control" required></p>
    <p class="text"><input type="submit" value="Sign up" class="btn btn-primary"/></p>
  </form>
</div>

{%endblock%}